.layout-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 56px); /* Subtract header height */
    margin-top: 16px;
}

.video-panel {
    width: 25vw;
    height: 100%;
    position: fixed;
    top: 56px; /* Below header */
    left: 0;
    background: #0e141b;
    border-right: 1px solid var(--border);
    padding: 16px;
    box-sizing: border="border-box";
    display: flex;
    flex-direction: column;
}

.video-panel h2 {
    margin-top: 0;
}

.video-container {
    flex: 1;
    background: #0a0f15;
    border: 1px solid var(--border);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.video-container video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.main-content {
    width: 75vw;
    margin-left: 25vw; /* Same as video panel width */
    padding: 0 16px;
}

.task-info-panel {
    margin-bottom: 16px;
}

.frames-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    background: #0a0f15;
    border: 1px solid var(--border);
    border-radius: 10px;
}

.frame-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var(--border);
}

.frame-item:last-child {
    border-bottom: none;
}

.frame-image {
    width: 180px;
    /* height: 60px; */
    object-fit: cover;
    border-radius: 4px;
    margin-right: 12px;
}

.frame-info {
    flex: 1;
}

/* .frame-name {
    font-weight: 400;
    margin-bottom: 4px;
} */


.masks-container {
    margin-top: 10px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.mask-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    border: 1px dashed #223042;
    border-radius: 5px;
    min-width: 60px;
}

.mask-item:last-child {
    border-bottom: none;
}

.mask-image {
    width: 180px;
    /* height: 45px; */
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 5px;
}

.mask-info {
    text-align: center;
    margin-bottom: 5px;
}

.mask-name {
    font-size: 0.7rem;
    margin-bottom: 2px;
    text-align: center;
    word-break: break-word;
    max-width: 100%;
}


.checkbox-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 100%;
}

.checkbox-green, .checkbox-red {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.checkbox-green {
    background-color: #10b981; /* green */
}

.checkbox-red {
    background-color: #ef4444; /* red */
}

.checkbox-checked {
    content: "✓";
}

/* ======== */

